.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 50px 650px 50px;
  gap: 25px;
}

.logo {
  grid-column: span 2;
  place-items: center;
  margin: 10px;
}

h1 {
  grid-column: span 2;
  place-items: center;
  margin: 0;
}

.left {
  grid-area: 3 / 1 / 5 / 3;
}
.right {
  grid-area: 3 / 3 / 5 / 5;
}
footer {
  grid-area: 5 / 3 / 6 / 5;
}
